*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body,html{
    width: 100%;
    height: fit-content;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}
    @media only screen and (min-width:992px) and (max-width:2560px)  {
    
    .mail-button {
        position: fixed;
        bottom: 2.25em;
        left: 2em;
        background-color: #fff; /* Gmail color */
        box-shadow: inset 1px 1px 5px 2px #000;
        border-radius: 50%;
        padding: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        transition: all 0.3s ease;
        z-index: 99;
    }
    .mail-button:hover {
        background-color: #fff; /* Darker shade on hover */
        scale: 1.2;
    }
    .mail-button i {
        color: #81b8ff; /* Icon color */
        font-size: 24px; /* Adjust the font size */
    }
    .mail-button img {
        width: 2em; /* Adjust the image width */
        height: 2em; /* Adjust the image height */
        border-radius: 0.3em;
        background-color: #81b6ff;
        transition: all 0.5s ease-in-out;
    }
    .mail-button img:hover {
        scale: 1.03;
    } 
    .float {
        position:fixed;
        width: 3em;
        height: 3em;
        bottom: 1.7em;
        right: 2em;
        background-color: #15b658;
        color: #fff;
        border-radius:50px;
        text-align:center;
        font-size:20px;
        box-shadow: inset 1px 1px 5px 2px #000;
        z-index:100;
        transition: all 0.3s ease-in-out;
    }
    .my-float{
        margin-top: 1.02em;
        font-size: 2em;
    }
    .float:hover {
        scale: 1.2;
    }
    .main {
        position: relative;
    }
    .main::before {
        content: "";
        position: absolute;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.4);
        z-index: -2;
    }
    .page1{
        height: 100vh;
        width: 100%;
    }
    .page1 video{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        overflow: hidden;
        z-index: -5;
    }
    .mobile-video {
        display: none;
    }
    .page1-content-1{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .page1-content-1 img {
        padding: 1em 1em;
        width: 10em;
        height: 7em;
        transition: all 0.5s ease-in-out;
    }
    .page1-content-1 img:hover {
        scale: 1.1;
    }
    .page1-content-1 ul {
        text-decoration: none;
        justify-content: space-between;
        padding: 4.2em 1em;
        display: flex;
    }
    .page1-content-1 ul li {
        list-style: none;
    }
    .page1-content-1 ul a {
        color: #fff;
        margin-left: 1.5em;
        text-transform: uppercase;
        text-decoration: none;
    }
    .checkbtn {
        font-size: 2em;
        color: #fff;
        float: right;
        line-height: 3em;
        margin-left: 2em;
        cursor: pointer;
        display: none;
    }
    #check {
        display: none;
    }
    #global{
        padding: 4.2em 0;
        margin-right: 2em;
        color:#cbf7d9;
        font-size: 1rem;
        display: flex;
    }
    #global a {
        margin-left: 1em;
        text-decoration: none;
        color: white;
        text-transform: uppercase;
        text-decoration: none;
    }
    .page1-content-1 ul a:hover , #global a:hover {
        color: #4b90ff;
        border-bottom: 1px solid #fff;
    }
    .page1-content-3 {
        margin-top: 3em;
        display: inline-block;
    }
    .leftsection{
        padding: 1.7em 3em 0;
        font-weight: 500;
        font-size: 2.9em;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-transform: uppercase;
        color:#ffea00;
    }
    #button {
        margin: 2em 10.5em;
        padding: 1em 2em;
        background-color: #000;
        color: yellow;
        font-weight: 700;
        border-radius: 1em;
        text-transform: uppercase;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        border: 1px solid yellow;
        transition: all 0.3s ease-in-out;
    }
    #button:hover {
        color: #fff;
        background-color: blue;
        border: 1px solid blue;
    }
    .page2 {
        padding: 1em 3.2em;
    }
    .page2-content-1 h1 {
        text-align: center;
        padding: 1em 0 ;
        text-transform: uppercase;
        color: #0d1f01;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .page2-content-2-divs{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .page2-content-2-div1{
        width: 26em;
        height: 36em;
        border: 1px dotted #fff;
        box-shadow: 1em 1em 2em #000;
        background-color: #132a1376;
        border-radius: 1em;
        margin-top: 2em;
        overflow: hidden;
        transition: all 0.5s ease-in-out;
    }
    .page2-content-2-div1:hover{
        background-color:#002949;
    }
    .page2-content-2-div1 img{
        width: 26em;
        height: 18em;
        display: block;
        transition: transform 0.5s;
    }
    .page2-content-2-div1:hover img{
        transform: scale(1.05);
    }
    .page2-content-2-div1 h2{
        text-transform: uppercase;
        padding: 0.9em 1em;
        font-size: 1.5em;
        color: white;
        transition: all0.5s ease-in-out;
    }
    .page2-content-2-div1:hover h2{
            color:#00ffb9 ;
    }
    .page2-content-2-div1 p {
        padding: 0.3em 1.5em;
        text-align: justify;
        line-height: 1.3;
        transition: all 0.5s ease-in-out;
    }
    .page2-content-2-div1:hover p {
        color: #fff;
    }
    .page2-content-2-div1 p a {
        text-transform: uppercase;
        padding: 0.4em 0.7em ;
        text-decoration: none;
        border: 1px dotted #fff;
        background-color: white;
        color: #0d1f01;
        transition: all0.5s ease-in-out;
    }
    .page2-content-2-div1 p:hover a {
        background-color: #00ffb9;
        color: #000;
    }
    #page2-content3-head h2 {
        margin: 0 2em;
        font-size: 5em;
        color: #0d1f01;
        font-size: 1.5em;
        padding: 2em 0;
        text-align: center;
        text-transform: uppercase;
   }
    #page2-content3-head h4{
        padding: 0 1em;
        color: #0d1f01;
        font-size: 1.3em;
        text-transform: uppercase;
   }
    #page2-content3-flex-1{
        display: flex;
        flex-wrap: wrap;
   }
    #page2-content3-flex-1 span {
        border: 1px solid #03452F;
        margin: 1em 1em;
        padding: 1em 1.5em;
        color:#03452F;
        text-align: center;
        border-radius: 1em;
        transition: all 0.5s ease-in-out;
   }
    #page2-content3-flex-1 span#one ,
    #page2-content3-flex-1 span#two ,
    #page2-content3-flex-1 span#three ,
    #page2-content3-flex-1 span#four ,
    #page2-content3-flex-1 span#five ,
    #page2-content3-flex-1 span#six ,
    #page2-content3-flex-1 span#seven ,
    #page2-content3-flex-1 span#eight ,
    #page2-content3-flex-1 span#nine ,
    #page2-content3-flex-1 span#ten {
        width: fit-content;
   }
    #one:hover ,
    #two:hover ,
    #three:hover ,
    #four:hover ,
    #five:hover ,
    #six:hover ,
    #seven:hover ,
    #eight:hover ,
    #nine:hover ,
    #ten:hover {
        background-color: #002949;
    }
   #page2-content3-flex-1 span a {
    text-decoration: none;
    color: #0d1f01;
    text-transform: uppercase;
   }  
    #page2-content3-flex-1 :hover a{
        color:#00ffb9;
    }
    .page3 {
        display: flex;
        margin: 2em 0;
        padding: 0 5em;
        justify-content: space-between;
    }
    .page3-content-1 {
        width: 35em;
        height: 36em;
        overflow: hidden;
        border: 1px dotted #fff;
        box-shadow: 1em 1em 2em #000;
        background-color: #132a1376;
        border-radius: 1em;
        transition: all 0.5s ease-in-out;
    }
    .page3-content-1:hover{
        background-color: #002949;
    }
    .page3-content-1 img {
        width: 100%;
        height: 20em;
        display: block;
        transition: all 0.5s ease-in-out;
    }
    .page3-content-1:hover img{
        transform: scale(1.05);
    }
    .page3-content-1 h4{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-transform: uppercase;
        padding: 1em 1em;
        font-size: 1.5em;
        color: white;
        transition: all 0.5s ease-in-out;
    }
    .page3-content-1:hover h4{
        color:#00ffb9 ;
    }
    .page3-content-1 p {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding: 0.7em 1.5em;
        text-align: justify;
        line-height: 1.3;
        transition: all 0.5s ease-in-out;
    }
    .page3-content-1:hover p {
        color: #fff;
    }
    .page3-content-1 a {
        text-transform: uppercase;
        padding: 0.4em 0.7em ;
        text-decoration: none;
        border: 1px dotted #fff;
        background-color: white;
        color: #0d1f01;
        transition: all0.5s ease-in-out;
    }
    .page3-content-1:hover a {
        background-color: #00ffb9;
        color: #000;
    }
    .page4 {
        display: flex;
        margin: 2em 0;
        padding: 0 5em;
        justify-content: space-between;
    }
    .page4-content-1 {
        width: 35em;
        height: 36em;
        overflow: hidden;
        border: 1px dotted #fff;
        box-shadow: 1em 1em 2em #000;
        background-color: #132a1376;
        border-radius: 1em;
        transition: all 0.5s ease-in-out;
    }
    .page4-content-1:hover{
        background-color: #002949;
    }
    .page4-content-1 img {
        width: 100%;
        height: 20em;
        display: block;
        transition: all 0.5s ease-in-out;
    }
    .page4-content-1:hover img{
        transform: scale(1.05);
    }
    .page4-content-1 h2{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-transform: uppercase;
        padding: 1em 1em;
        font-size: 1.5em;
        color: white;
        transition: all 0.5s ease-in-out;
    }
    .page4-content-1:hover h2{
        color:#00ffb9 ;
    }
    .page4-content-1 p {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding: 0.3em 1.5em;
        text-align: justify;
        line-height: 1.3;
        transition: all 0.5s ease-in-out;
    }
    .page4-content-1:hover p {
        color: #fff;
    }
    .page4-content-1 a {
        text-transform: uppercase;
        padding: 0.4em 0.7em ;
        text-decoration: none;
        border: 1px dotted #fff;
        background-color: white;
        color: #0d1f01;
        transition: all0.5s ease-in-out;
    }
    .page4-content-1:hover a {
        background-color: #00ffb9;
        color: #000;
    }
    .page5 {
        display: flex;
        margin: 2em 0;
        padding: 0 2em;
        justify-content: space-between;
    }
    .page5-divs-content-1 {
        width: 35em;
        height: 39em;
        margin: 1em 2em;
        overflow: hidden;
        border: 1px dotted #fff;
        box-shadow: 1em 1em 2em #000;
        background-color: #132a1376;
        border-radius: 1em;
        transition: all 0.5s ease-in-out;
    }
    .page5-divs-content-1:hover{
        background-color: #002949;
    }
    .page5-divs-content-1 img {
        width: 100%;
        height: 15em;
        display: block;
        transition: all 0.5s ease-in-out;
    }
    .page5-divs-content-1:hover img{
        transform: scale(1.05);
    }
    .page5-divs-content-1 h2{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-transform: uppercase;
        padding: 1em 1em;
        font-size: 1.5em;
        color: white;
        transition: all 0.5s ease-in-out;
    }
    .page5-divs-content-1:hover h2{
        color:#00ffb9 ;
    }
    .page5-divs-content-1 p {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding: 0.3em 1.5em;
        text-align: justify;
        line-height: 1.3;
        transition: all 0.5s ease-in-out;
    }
    .page5-divs-content-1:hover p {
        color: #fff;
    }
    .page5-divs-content-1 a {
        text-transform: uppercase;
        padding: 0.4em 0.7em ;
        text-decoration: none;
        border: 1px dotted #fff;
        background-color: white;
        color: #0d1f01;
        transition: all0.5s ease-in-out;
    }
    .page5-divs-content-1:hover a {
        background-color: #00ffb9;
        color: #000;
    }
    .page6 {
        margin-top: 10vh;
        background-image: linear-gradient(rgba(255,255,255,0.95), rgba(255,255,255,0.1)), url(https://media.istockphoto.com/id/1061329162/photo/office-responsive-devices-creativity-tutorials.jpg?s=612x612&w=0&k=20&c=h5gdk-j_KqUlpyOR1cDMkA8SWqytF-qhCqDf3JbDqp0=);
        background-position: center;
        background-size: cover;
    }
    .page6 h1 {
        padding: 2em 1em;
        text-align: center;
        text-transform: uppercase;
        font-size: 2em;
        color: #0d1f01;
    }
    .page6 p {
        margin: 0.5em 3em;
        padding: 0 3em;
        font-size: 1.5em;
        text-align: justify;
        color: #0d1f01;
    } 
    .page6 a {
        text-decoration: none;
        color: blue;
        font-size: 1.1em;
    }
    #more {
        margin: 4em 11em;
        padding: 1em 2em;
        font-weight: 500;
        text-transform: uppercase;
        color: #00e7db;
        background-color: #ffffff;
        border: 1px solid #0d1f01;
        border-radius: 1em;
        transition: all 0.5s ease-in-out;
    }
    #more:hover {
        background-color:#fff956 ;
        font-weight: 500;
    }
    .page7 {
        background-image:  linear-gradient(rgba(255,255,255,0.95), rgba(255,255,255,0.1)),url(https://images.unsplash.com/photo-1455849318743-b2233052fcff?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
        background-position: center;
        background-size: cover;
   }
    .page7-content-1 {
        width: 100%;
        height: 42em;
        padding: 2em 1em;
    }
    .page7-content-1 h3 {
        text-transform: uppercase;
        text-align: center;
        color: #0d1f01;
        font-size: 2em;
        padding: 1em 0;
    }
    .page7-content-1 p {
        margin: 1em 1em;
        padding: 0 3em;
        font-size: 1.5em;
        text-align: justify;
        color: #0d1f01;
    }
    .page7-content-1 a {
        text-decoration: none;
        color: blue;
        font-size: 1.1em;
    }

    #read-more {
        margin: 5em 0 0 6em;
        padding: 0.7em 1.3em;
        font-weight: 400;
        text-transform: uppercase;
        color: #00e7db;
        background-color: #ffffff;
        border: 1px solid #0d1f01;
        border-radius: 1em;
        transition: all 0.5s ease-in-out;
    }
    #read-more:hover {
        background-color:#fff956 ;
        font-weight: 400;
    }
    .page8 a {
        color:white;
    }
    .page8 {
        padding: 3em 3em;
        background-color: rgba(0,0,0,0.7);
    }
    .page8-content-1 ul {
        display: flex;
        justify-content: space-between;
    }
    .page8-content-1 ul li {
        list-style: none;
        padding: 1em 2em ;
    }
    .page8-content-1 ul li a{
        text-decoration: none;
        text-transform: uppercase;
        color: #fff;
        font-weight: 500;
    }
    .page8-content-1 ul li a:hover {
        color: #568F7C;
    }
    .button {
        border: none;
        position: absolute;
        border-radius: 15px;
        right: 3em;
        width: 15vw;
        height:7vh;
        font-size: 1.5rem;
        font-weight: 700;
        transition: all .5s ease-in-out;
    }
    .button:hover{
        background-color:#0dd491;
        color: #0d1f01;
    }
    .social {
        position: fixed;
        display: flex;
        flex-direction: column;
        right: -2.7em;
        bottom: 12rem;
        background-color: rgb(0, 0, 0);
        color: #CAD2C5;
        list-style: none;
        padding: 1em 1em;
        border-radius: 15px;
        transition: all .5s ease-in-out;
    }
    .social:hover {
        transform: translateX(-2.5vw);
    }
    .social li a {
        color: #CAD2C5;
        font-size: 25px;
        transition: all 0.5s ease-in-out;
    }
    .social li a:hover {
        color: #0dd491;
    }
    .bottom {
        margin-left: 3.5em;
        padding: 1em .5em;
        display: flex;
        justify-content: space-evenly;
        width: 90%;
        color: #CAD2C5;
    }
    .bottom a {
        color:#CAD2C5;
        text-decoration: none;
    }
    .bottom a:hover {
        color: #568F7C;
    }
    #bottom img{
        width: 20vw;
        height: 20vh; 
    } 
    #bars {
        display: none;
    }
}

@media only screen and (max-width:575px) {
    .mail-button {
        position: fixed;
        bottom: 45vw;
        left: 3em;
        background-color: #fff; /* Gmail color */
        box-shadow: inset 1px 1px 5px 2px #000;
        border-radius: 50%;
        padding: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        transition: all 0.3s ease;
        z-index: 99;
    }
    .mail-button i {
        color: #81b8ff; /* Icon color */
        font-size: 24px; /* Adjust the font size */
    }
    .mail-button img {
        width: 2em; /* Adjust the image width */
        height: 2em; /* Adjust the image height */
        border-radius: 0.3em;
        background-color: #81b6ff;
        transition: all 0.5s ease-in-out;
    }
    .float {
        position:fixed;
        width: 3em;
        height: 3em;
        bottom: 45vw;
        right: 5em;
        background-color: #15b658;
        color: #fff;
        border-radius:50px;
        text-align:center;
        font-size:20px;
        box-shadow: inset 1px 1px 5px 2px #000;
        z-index:100;
        transition: all 0.3s ease-in-out;
    }
    .my-float {
        margin-top: 1.02em;
        font-size: 2em;
    }
    .main {
        position: relative;

    }
    .main::before {
        content: "";
        position: absolute;
        background-color: rgba(0, 0, 0, 0.4);
        z-index: -2;
    }
    .page1 {
        height: 100vh;
        width: 100vw;
    }
    .mobile-video{
        width: 190%;
        height: 174vh;
        object-fit: fill;
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -5;
    }
    .pc-video {
        display: none;
    }
    .page1-content-1{
        width: 100vw;
        display: flex;
        justify-content: space-between;
    }
    .page1-content-1 input {
        display: none;
    }
    .page1-content-1 img {
        width: 7em;
        height: 4em;
        margin: 5em 20em;
        transition: all 0.5s ease-in-out;
    }
    .page1-content-1 ul {
        width: 102%;
        height: 174vh;
        position: fixed;
        text-decoration: none;
        background-color: rgba(0, 0, 0,0.85);
        /* background: conic-gradient(rgb(226, 131, 147), rgb(87, 28, 6), rgb(140, 140, 140)); */
        padding: 7em 0 0 ;
        display: flex;
        flex-direction: column;
        left: -105%;
        transition: all 0.3s ease-in-out;
    }
    .page1-content-1 ul li {
        list-style: none;
        margin: 0 4vh;
        padding-top: 10vh;
    }
    .page1-content-1 ul a {
        padding: 0.5em 2em;
        color: #ffffff;
        font-weight: 500;
        margin-left: 10vw;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 2.5em;
    }
    .page1-content-1 ul a:hover , #global a:hover {
        color: #4b90ff;
        border: 0.02em solid #fff;
        border-radius: 1em;
    }
    #check:checked ~ ul {
        left: 0;
    }
    .checkbtn {
        display: block;
        position: fixed;
        z-index: 9999;
        color: rgb(255, 255, 0);
        padding: 1em 1em;
        font-size: 15vw;
    }
    #global{
        width: 100vw;
        text-decoration: none;
        position: absolute;
        padding: 5em 0;
        left: 33em;
        color: #4b90ff;
        font-size: 1em;
        z-index: -1;
    }
    #global a {
        margin-left: 1em;
        text-decoration: none;
        color: white;
        text-transform: uppercase;
        text-decoration: none;
    }
    .page1-content-3 {
        display: inline-block;
    }
    .leftsection{
        width: 170%;
        margin-top: 25vh;
        padding: 5em 1em;
        font-weight: 600;
        font-size: 3em;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-transform: uppercase;
        color:#ffea00;
    }
    #button {
        display: none;
    }
    #button:hover {
        color: #fff;
        background-color: blue;
        border: 1px solid blue;
    }
    .page2 {
        padding: 35em 3.2em;
    }
    .page2-content-1 {
        width: 170%;
    }
    .page2-content-1 h1 {

        text-align: center;
        padding: 4em 0 0 2.5em;
        font-size: 2em;
        text-transform: uppercase;
        color: #0d1f01;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .page2-content-2-divs{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        /* margin-top: 5vh; */
        /* align-items:center; */
    }
    .page2-content-2-div1{
        width:  143vw;
        height: 61em;
        border: 1px dotted #fff;
        box-shadow: 1em 1em 2em #000;
        background-color: #132a1376;
        border-radius: 1em;
        margin-top: 2em;
        margin-left: 2vw;
        overflow: hidden;
        transition: all 0.5s ease-in-out;
    }
    .page2-content-2-div1:hover{
        background-color:#002949;
    }
    .page2-content-2-div1 img{
        width: 35em;
        height: 18em;
        display: block;
        transition: transform 2s;
    }
    .page2-content-2-div1:hover img{
        transform: scale(1.02);
    }
    .page2-content-2-div1 h2{
        text-align: center;
        text-transform: uppercase;
        padding: 0.9em 1em;
        font-size: 2.5em;
        color: white;
        transition: all0.5s ease-in-out;
    }
    .page2-content-2-div1:hover h2{
            color:#00ffb9 ;
    }
    .page2-content-2-div1 p {
        font-size: 2em;
        padding: 0.3em 1.5em;
        text-align: justify;
        line-height: 1.3;
        transition: all 0.5s ease-in-out;
    }
    .page2-content-2-div1:hover p {
        color: #fff;
    }
    .page2-content-2-div1 p a {
        text-transform: uppercase;
        padding: 0.4em 0.7em ;
        text-decoration: none;
        border: 1px dotted #fff;
        background-color: white;
        color: #0d1f01;
        transition: all0.5s ease-in-out;
    }
    .page2-content-2-div1 p:hover a {
        background-color: #00ffb9;
        color: #000;
    }
    #page2-content3-head {
        width: 170vw;
    }
    .page2-content-3 {
        margin-left: -9vw;
    }
    #page2-content3-head h2 {
        margin: 0 2em;
        font-size: 2.5em;
        color: #0d1f01;
        padding: 2em 0;
        text-align: center;
        text-transform: uppercase;
   }
    #page2-content3-head h4{
        padding: 0 2em;
        color: #0d1f01;
        font-size: 2em;
        text-transform: uppercase;
   }
    #page2-content3-flex-1{
        display: flex;
        flex-direction: column;
        margin-left: 5em;
   }
    #page2-content3-flex-1 span {
        border: 1px solid #03452F;
        margin: 1em 1em;
        padding: 1em 1.5em;
        color:#03452F;
        text-align: center;
        border-radius: 1em;
        transition: all 0.5s ease-in-out;
   }
    #page2-content3-flex-1 span#one ,
    #page2-content3-flex-1 span#two ,
    #page2-content3-flex-1 span#three ,
    #page2-content3-flex-1 span#four ,
    #page2-content3-flex-1 span#five ,
    #page2-content3-flex-1 span#six ,
    #page2-content3-flex-1 span#seven ,
    #page2-content3-flex-1 span#eight ,
    #page2-content3-flex-1 span#nine ,
    #page2-content3-flex-1 span#ten {
        width: fit-content;
   }
    #one:hover ,
    #two:hover ,
    #three:hover ,
    #four:hover ,
    #five:hover ,
    #six:hover ,
    #seven:hover ,
    #eight:hover ,
    #nine:hover ,
    #ten:hover {
        background-color: #002949;
    }
   #page2-content3-flex-1 span a {
    text-decoration: none;
    color: #0d1f01;
    text-transform: uppercase;
   }  
    #page2-content3-flex-1 :hover a{
        color:#00ffb9;
    }
    .page3 {
        display: flex;
        margin: 2em 0;
        padding: 0 5em;
        justify-content: space-between;
    }
    .page3-content-1 {
        width: 35em;
        height: 36em;
        overflow: hidden;
        border: 1px dotted #fff;
        box-shadow: 1em 1em 2em #000;
        background-color: #132a1376;
        border-radius: 1em;
        transition: all 0.5s ease-in-out;
    }
    .page3-content-1:hover{
        background-color: #002949;
    }
    .page3-content-1 img {
        width: 100%;
        height: 20em;
        display: block;
        transition: all 0.5s ease-in-out;
    }
    .page3-content-1:hover img{
        transform: scale(1.05);
    }
    .page3-content-1 h4{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-transform: uppercase;
        padding: 1em 1em;
        font-size: 1.5em;
        color: white;
        transition: all 0.5s ease-in-out;
    }
    .page3-content-1:hover h4{
        color:#00ffb9 ;
    }
    .page3-content-1 p {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding: 0.7em 1.5em;
        text-align: justify;
        line-height: 1.3;
        transition: all 0.5s ease-in-out;
    }
    .page3-content-1:hover p {
        color: #fff;
    }
    .page3-content-1 a {
        text-transform: uppercase;
        padding: 0.4em 0.7em ;
        text-decoration: none;
        border: 1px dotted #fff;
        background-color: white;
        color: #0d1f01;
        transition: all0.5s ease-in-out;
    }
    .page3-content-1:hover a {
        background-color: #00ffb9;
        color: #000;
    }
    .page4 {
        display: flex;
        margin: 2em 0;
        padding: 0 5em;
        justify-content: space-between;
    }
    .page4-content-1 {
        width: 35em;
        height: 36em;
        overflow: hidden;
        border: 1px dotted #fff;
        box-shadow: 1em 1em 2em #000;
        background-color: #132a1376;
        border-radius: 1em;
        transition: all 0.5s ease-in-out;
    }
    .page4-content-1:hover{
        background-color: #002949;
    }
    .page4-content-1 img {
        width: 100%;
        height: 20em;
        display: block;
        transition: all 0.5s ease-in-out;
    }
    .page4-content-1:hover img{
        transform: scale(1.05);
    }
    .page4-content-1 h2{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-transform: uppercase;
        padding: 1em 1em;
        font-size: 1.5em;
        color: white;
        transition: all 0.5s ease-in-out;
    }
    .page4-content-1:hover h2{
        color:#00ffb9 ;
    }
    .page4-content-1 p {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding: 0.3em 1.5em;
        text-align: justify;
        line-height: 1.3;
        transition: all 0.5s ease-in-out;
    }
    .page4-content-1:hover p {
        color: #fff;
    }
    .page4-content-1 a {
        text-transform: uppercase;
        padding: 0.4em 0.7em ;
        text-decoration: none;
        border: 1px dotted #fff;
        background-color: white;
        color: #0d1f01;
        transition: all0.5s ease-in-out;
    }
    .page4-content-1:hover a {
        background-color: #00ffb9;
        color: #000;
    }
    .page5 {
        display: flex;
        margin: 2em 0;
        padding: 0 2em;
        justify-content: space-between;
    }
    .page5-divs-content-1 {
        width: 35em;
        height: 39em;
        margin: 1em 2em;
        overflow: hidden;
        border: 1px dotted #fff;
        box-shadow: 1em 1em 2em #000;
        background-color: #132a1376;
        border-radius: 1em;
        transition: all 0.5s ease-in-out;
    }
    .page5-divs-content-1:hover{
        background-color: #002949;
    }
    .page5-divs-content-1 img {
        width:90vw;
        height: 15em;
        display: block;
        transition: all 0.5s ease-in-out;
    }
    .page5-divs-content-1:hover img{
        transform: scale(1.05);
    }
    .page5-divs-content-1 h2{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-transform: uppercase;
        padding: 1em 1em;
        font-size: 1.5em;
        color: white;
        transition: all 0.5s ease-in-out;
    }
    .page5-divs-content-1:hover h2{
        color:#00ffb9 ;
    }
    .page5-divs-content-1 p {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding: 0.3em 1.5em;
        text-align: justify;
        line-height: 1.3;
        transition: all 0.5s ease-in-out;
    }
    .page5-divs-content-1:hover p {
        color: #fff;
    }
    .page5-divs-content-1 a {
        text-transform: uppercase;
        padding: 0.4em 0.7em ;
        text-decoration: none;
        border: 1px dotted #fff;
        background-color: white;
        color: #0d1f01;
        transition: all0.5s ease-in-out;
    }
    .page5-divs-content-1:hover a {
        background-color: #00ffb9;
        color: #000;
    }
    .page6 {
        margin-top: 10vh;
        background-image: linear-gradient(rgba(255,255,255,0.95), rgba(255,255,255,0.1)), url(https://media.istockphoto.com/id/1061329162/photo/office-responsive-devices-creativity-tutorials.jpg?s=612x612&w=0&k=20&c=h5gdk-j_KqUlpyOR1cDMkA8SWqytF-qhCqDf3JbDqp0=);
        background-position: center;
        background-size: cover;
    }
    .page6 h1 {
        padding: 2em 1em;
        text-align: center;
        text-transform: uppercase;
        font-size: 2em;
        color: #0d1f01;
    }
    .page6 p {
        margin: 0.5em 3em;
        padding: 0 3em;
        font-size: 1.5em;
        text-align: justify;
        color: #0d1f01;
    } 
    .page6 a {
        text-decoration: none;
        color: blue;
        font-size: 1.1em;
    }
    #more {
        margin: 4em 11em;
        padding: 1em 2em;
        font-weight: 500;
        text-transform: uppercase;
        color: #00e7db;
        background-color: #ffffff;
        border: 1px solid #0d1f01;
        border-radius: 1em;
        transition: all 0.5s ease-in-out;
    }
    #more:hover {
        background-color:#fff956 ;
        font-weight: 500;
    }
    .page7 {
        background-image:  linear-gradient(rgba(255,255,255,0.95), rgba(255,255,255,0.1)),url(https://images.unsplash.com/photo-1455849318743-b2233052fcff?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
        background-position: center;
        background-size: cover;
   }
    .page7-content-1 {
        width: 100%;
        height: 42em;
        padding: 2em 1em;
    }
    .page7-content-1 h3 {
        text-transform: uppercase;
        text-align: center;
        color: #0d1f01;
        font-size: 2em;
        padding: 1em 0;
    }
    .page7-content-1 p {
        margin: 1em 1em;
        padding: 0 3em;
        font-size: 1.5em;
        text-align: justify;
        color: #0d1f01;
    }
    .page7-content-1 a {
        text-decoration: none;
        color: blue;
        font-size: 1.1em;
    }

    #read-more {
        margin: 5em 0 0 6em;
        padding: 0.7em 1.3em;
        font-weight: 400;
        text-transform: uppercase;
        color: #00e7db;
        background-color: #ffffff;
        border: 1px solid #0d1f01;
        border-radius: 1em;
        transition: all 0.5s ease-in-out;
    }
    #read-more:hover {
        background-color:#fff956 ;
        font-weight: 400;
    }
    .page8 a {
        color:white;
    }
    .page8 {
        padding: 3em 3em;
        background-color: rgba(0,0,0,0.7);
    }
    .page8-content-1 ul {
        display: flex;
        justify-content: space-between;
    }
    .page8-content-1 ul li {
        list-style: none;
        padding: 1em 2em ;
    }
    .page8-content-1 ul li a{
        text-decoration: none;
        text-transform: uppercase;
        color: #fff;
        font-weight: 500;
    }
    .page8-content-1 ul li a:hover {
        color: #568F7C;
    }
    .button {
        border: none;
        position: absolute;
        border-radius: 15px;
        right: 3em;
        width: 15vw;
        height:7vh;
        font-size: 1.5rem;
        font-weight: 700;
        transition: all .5s ease-in-out;
    }
    .button:hover{
        background-color:#0dd491;
        color: #0d1f01;
    }
    .social {
        position: fixed;
        display: flex;
        flex-direction: column;
        right: -2.7em;
        bottom: 12rem;
        background-color: rgb(0, 0, 0);
        color: #CAD2C5;
        list-style: none;
        padding: 1em 1em;
        border-radius: 15px;
        transition: all .5s ease-in-out;
    }
    .social:hover {
        transform: translateX(-2.5vw);
    }
    .social li a {
        color: #CAD2C5;
        font-size: 25px;
        transition: all 0.5s ease-in-out;
    }
    .social li a:hover {
        color: #0dd491;
    }
    .bottom {
        margin-left: 2.5em;
        padding: 1em 0;
        display: flex;
        justify-content: space-evenly;
        width: 90%;
        color: #CAD2C5;
    }
    .bottom a {
        color:#CAD2C5;
        text-decoration: none;
    }
    .bottom a:hover {
        color: #568F7C;
    }
    #bottom img{
        width: 20vw;
        height: 20vh; 
    } 
    #bars {
        display: none;
    } 

}